.container {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 30px;
    border-radius: 40px;
}

h1, #buttons, #result {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
}

